@charset "UTF-8";
/* './utils/...';*/
:root {
  --primary-title-color: #ffffff;
  --third-text-color: #ffffff;
  --background-card: #FFFFFF;
  --secondary-title-color: #212121;
  --secondary-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --filter-button-color: #F5F4FA;
  --border-color: #ECECEC;
  --hero-grount: #2F303A;
  --futer-grount: #2F303A;
  --hero-button: #188CE8;
  --portofolio-card-border:#EEEEEE;
  --hero-bg:#C4C4C4;
  --clients-color: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/*'./base/...';*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  border-width: 0;
}

.link {
  text-decoration: none;
  font-family: inherit;
  font-family: inherit;
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*'./components/...';*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section_title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.btn {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
}

.btn_hero {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1), background-color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn_hero:hover, .btn_hero:focus {
  color: var(--third-text-color);
  background-color: var(--hero-button);
}

/* кнопка фільтрів на сторінці "Портофоліо"*/
.btn-filtr {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
}

.btn-filtr_color {
  color: var(--secondary-text-color);
  background: var(--filter-button-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1), background-color 240ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* не виконано крізь & бо не працює клас carent-btn*/
.btn-filtr_color:hover,
.btn-filtr_color:focus,
.carrent-btn {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* кнопка закриття модального вікна*/
.btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: var(--secondary-title-color);
  border-radius: 50%;
  background: #00000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0;
  /* змінює розміри "Х" на 18х18 з 16х18*/
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover, .btn-close:focus {
  fill: var(--accent-color);
}

/* розміри кнопка закриття модального вікна*/
.btn-close_icon--size {
  width: 18px;
  height: 18px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo_indent--right {
  margin-right: 93px;
}

.logo--dark {
  color: var(--secondary-text-color);
}

.logo--light {
  color: var(--primary-title-color);
}

.dis-fl_d, .btn-close, .header_kontacts-flex, .header_link-item, .hero_container, .whyus_container, .ourteam_list,
.whyus_list,
.wedoing_list,
.clients_list, .whyus_item-pkt, .ourteam-socital-list, .clients_link, .footer-section, .section-common_list, .filtr_list, .portofolio_list, .backdrop, .check_text, .check_text span {
  display: flex;
}

.dis-fl_a, .btn-close, .header_kontacts-flex, .header_link-item, .hero_container, .whyus_item-pkt, .ourteam-socital-list, .clients_link, .section-common_list, .backdrop, .check_text, .check_text span {
  align-items: center;
}

.dis-fl_j, .btn-close, .whyus_item-pkt, .ourteam-socital-list, .clients_link, .section-common_list, .filtr_list, .backdrop, .check_text, .check_text span {
  justify-content: center;
}

.dis-fl_w, .ourteam_list,
.whyus_list,
.wedoing_list,
.clients_list, .footer-section, .section-common_list, .filtr_list, .portofolio_list {
  flex-wrap: wrap;
}

/*'./layout/...';*/
.header {
  border-bottom: 1px solid var(--border-color);
}

.header_kontacts-flex {
  margin-left: auto;
}

.header_link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  position: relative;
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_link:hover, .header_link:focus,
.header_link .current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: -1px;
}

.header_item:not(:last-child) {
  margin-right: 50px;
}

.header_kontacts-item {
  color: var(--primary-text-color);
}

.header_kontacts-sep:not(:last-child) {
  margin-right: 50px;
  /* отступ между мылом и телефоном без последнего ребенка */
}

.icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_link-item:hover .icon,
.header_link-item:focus .icon {
  fill: var(--accent-color);
}

.header_link-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_link-item:hover, .header_link-item:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--hero-bg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-jpeg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero_container {
  flex-direction: column;
}

.hero_title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  width: 696px;
  margin-bottom: 30px;
}

.ourteam_list,
.whyus_list,
.wedoing_list,
.clients_list {
  margin-left: -30px;
  margin-top: -30px;
}

.wedoing_item,
.ourteam_item,
.whyus_item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.whyus_item-pkt {
  height: 120px;
  background-color: var(--filter-button-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.whyus_pkt-item {
  width: 70px;
  height: 70px;
}

.whyus_item-header {
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.whyus_item-text {
  line-height: 1.71;
  /* or 171% */
  color: var(--primary-text-color);
}

.wedoing {
  padding-top: 0px;
}

.wedoing_item {
  position: relative;
}

.wedoing_text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.ourteam {
  background: var(--filter-button-color);
}

.ourteam-card {
  background: var(--background-card);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: block;
  padding-bottom: 30px;
  /* новый отсттуп - при любом количестве пикт*/
}

.ourteam_item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--secondary-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.ourteam_item-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-bottom: 16px;
}

.ourteam-socital-item + .ourteam-socital-item {
  margin-left: 10px;
}

.ourteam-socital-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
  background-color: var(--primary-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-socital-link:hover, .ourteam-socital-link:focus {
  background-color: var(--accent-color);
}

.socital-link-pkt {
  fill: var(--clients-color);
  width: 20px;
  height: 20px;
  transition: fill 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-socital-link:hover .socital-link-pkt,
.ourteam-socital-link:focus .socital-link-pkt {
  fill: var(--primary-title-color);
}

.clients_item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.clients_link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  fill: var(--clients-color);
  transition: border 240ms cubic-bezier(0.4, 0, 0.2, 1), fill 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_link:hover, .clients_link:focus {
  border: 1px solid var(--hero-button);
  fill: var(--hero-button);
}

.clients_icon {
  width: 106px;
  height: 60px;
}

.footer {
  background: var(--futer-grount);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_contact {
  font-style: inherit;
}

.address {
  color: var(--third-text-color);
  line-height: 1.71;
  /* or 171% */
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover, .address:focus {
  color: var(--accent-color);
}

.contact {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  /* or 171% */
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover, .contact:focus {
  color: var(--accent-color);
}

.logo_indent--bottom {
  display: block;
  margin-bottom: 20px;
}

.footer_item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.footer-section {
  align-items: baseline;
}

.footer-section_item:not(:last-child) {
  margin-right: 70px;
}

.footer-section_item:last-child {
  margin-left: auto;
}

.section-common_list {
  margin-left: -10px;
  margin-top: -30px;
}

.section-common_title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: calc(16 / 14);
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.section-common_item {
  width: 44px;
  height: 44px;
  flex-basis: calc(100% / 4 - 10px);
  margin-left: 10px;
  margin-top: 30px;
}

.section-common_item + .section-common_item {
  margin-left: 10px;
}

.section-common_link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  /*не працює*/
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-common_link:hover, .section-common_link:focus {
  background-color: var(--accent-color);
}

.section-common_pkt {
  fill: var(--primary-title-color);
  width: 20px;
  height: 20px;
}

.footer-mailing_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-mailing_form {
  position: relative;
}

.footer-mailing_box {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding: 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mailing_box:hover, .footer-mailing_box:focus {
  border: 1px solid var(--accent-color);
}

.footer-mailing_btn {
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
}

.footer-mailing_icon {
  width: 24px;
  height: 24px;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  transition: transform 2250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*Шютка*/
}

.footer-mailing_icon:hover, .footer-mailing_icon:focus {
  transform: rotate(25deg) translateX(-45%);
}

.filtr_list {
  margin-bottom: 50px;
}

.filtr-item:not(:last-child) {
  margin-right: 8px;
}

.portofolio_list {
  margin-left: -30px;
  margin-top: -30px;
}

.portofolio_item {
  flex-basis: calc(100% / 3 - 30px);
  box-sizing: border-box;
  margin-left: 30px;
  margin-top: 30px;
}

.portofolio_link {
  transition: box-shadow 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portofolio_link:hover, .portofolio_link:focus {
  display: block;
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portofolio_item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-bottom: 4px;
}

.portofolio_item-text {
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  color: var(--primary-text-color);
}

.portofolio_item-card {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--portofolio-card-border);
  border-top: 0px;
  box-sizing: border-box;
}

.portofolio_top-wrappter {
  position: relative;
  overflow: hidden;
}

.porofolio_top-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portofolio_link:hover .porofolio_top-text,
.portofolio_link:focus .porofolio_top-text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 240ms cubic-bezier(0.4, 0, 0.2, 1), visibility 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: scale(0);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal_title {
  font-size: 20px;
  line-height: calc(23 / 20);
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal_field {
  margin-bottom: 10px;
}

.modal_input-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal_input-wrapper {
  display: block;
  position: relative;
}

.modal_input {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding-left: 42px;
  padding-right: 20px;
  outline: none;
  color: var(--primary-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_input:hover,
.modal_input:focus {
  border: 1px solid var(--accent-color);
}

.modal_input:hover + .input_icon,
.modal_input:focus + .input_icon {
  fill: var(--accent-color);
}

.input_icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_user-commit {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  background-color: transparent;
  padding: 10px;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
}

.modal_user-commit::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal_user-commit:hover,
.modal_user-commit:focus {
  border: 1px solid var(--accent-color);
}

.modal_btn {
  display: block;
  margin: 0 auto;
}

.check_text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.check_text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--futer-grount);
  border-radius: 3px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_checkbox:hover + .check_text span,
.modal_checkbox:focus + .check_text span {
  border: 2px solid var(--accent-color);
}

.modal_checkbox:checked + .check_text span {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}
/*# sourceMappingURL=main.css.map */