.clients_list {
  @extend .dis-fl_dw; /*отключил*/
  margin-left: -30px;
  margin-top: -30px; 
  @media screen and (min-width: 768px) {
    display: flex; 
    flex-wrap: wrap;
    margin-left: -30px; 
}
}


.clients_item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
  }
}


.clients_link {
  @extend .dis-fl_daj;
  width: 100%;
  height: 92px;
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  fill: var(--clients-color);
  transition: border 240ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 240ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    border: 1px solid var(--hero-button);
    fill: var(--hero-button);
  }
  @media screen and (min-width: 480px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }

}

.clients_icon {
  width: 106px;
  height: 60px;
}
