.header {
  border-bottom: 1px solid var(--border-color);
}

.header_kontacts-flex {
  @extend .dis-fl_d;
  @extend .dis-fl_a;
  margin-left: auto;
}

.header_link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  position: relative;
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  .current {
    color: var(--accent-color);
  }
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: -1px;
}
.header_item:not(:last-child) {
  margin-right: 50px;
}
.header_kontacts-item {
  color: var(--primary-text-color);
}
.header_kontacts-sep:not(:last-child) {
  margin-right: 50px; /* отступ между мылом и телефоном без последнего ребенка */
}
.icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 240ms cubic-bezier(0.4, 0, 0.2, 1);

  .header_link-item:hover &,
  .header_link-item:focus & {
    fill: var(--accent-color);
  }
}
.header_link-item {
  @extend .dis-fl_d;
  @extend .dis-fl_a;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
