.btn {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
}

.btn_hero {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 240ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{ 
  color: var(--third-text-color);
  background-color: var(--hero-button);}
}



/* кнопка фільтрів на сторінці "Портофоліо"*/
.btn-filtr {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62; 
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
}
.btn-filtr_color {
  color: var(--secondary-text-color);
  background: var(--filter-button-color);
  transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1), 
              background-color 240ms cubic-bezier(0.4, 0, 0.2, 1), 
              box-shadow 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* не виконано крізь & бо не працює клас carent-btn*/
  .btn-filtr_color:hover,
  .btn-filtr_color:focus,
  .carrent-btn{
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
              0px 1px 2px rgba(0, 0, 0, 0.08),
              0px 2px 2px rgba(0, 0, 0, 0.12);
  }

/* кнопка закриття модального вікна*/
.btn-close{
  position: absolute;
  right:10px;
  top:10px;
  width: 30px;
  height: 30px;
  @extend .dis-fl_d;
  @extend .dis-fl_a;
  @extend .dis-fl_j;
  cursor: pointer;
  fill: var(--secondary-title-color);
  border-radius: 50%;
  background: #00000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0; /* змінює розміри "Х" на 18х18 з 16х18*/
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    fill: var(--accent-color)};
}
/* розміри кнопка закриття модального вікна*/
.btn-close_icon--size{
  width: 18px;
  height: 18px;
}


