.section{
  padding-top: 94px;
  padding-bottom: 94px;

  // @media screen and (min-widch: 480px){
  //   width: 450px;
  // }
}
.section_title{
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}