.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.section_title{
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}