/*'./base/...';*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  border-width: 0;
}
.link {
  text-decoration: none;
  font-family: inherit;
  font-family: inherit;
}
.list {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
