:root{
  --primary-title-color: #ffffff;
  --third-text-color: #ffffff;
  --background-card: #FFFFFF;
  
  --secondary-title-color: #212121;
  --secondary-text-color: #212121;

  --primary-text-color: #757575;

  --accent-color: #2196f3;

  --filter-button-color: #F5F4FA;

  --border-color: #ECECEC;
  
  --hero-grount: #2F303A;
  --futer-grount: #2F303A;
  
  --hero-button: #188CE8;
  
  --portofolio-card-border:#EEEEEE;

  --hero-bg:#C4C4C4;

  --clients-color: #AFB1B8;
}